<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @issue.year %>
</p>

<p>
  <strong>Number:</strong>
  <%= @issue.number %>
</p>

<p>
  <strong>Month:</strong>
  <%= @issue.month %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @issue.issue_date %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
